.page {
  width: 100vw;
  height: 100vh;
  background-color: gray;
  display: flex;
}

.login-container {
  background-color: gray;
  width: 30%;
  height: 70%;
  margin: auto;
}

.font-size-13 {
    font-size: 13px!important;
}